.masthead {
    height: 100vh;
    height: auto;
    padding-top:56px;
}

#sticky-footer {
  flex-shrink: none;
}

#root {
    min-height: 100vh;
    padding-bottom: 3em;
}

#root div.container {
    padding-top: 2em;
}

.price {
    color: #990000;
    font-size: 22px;
    font-weight: bold;
}

html,
body {
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
